@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --main-color: #3b82f6;
  --section-background: #f6f6f6;
  --s-background-color: rgb(255 255 255 / 50%);
  --main-yellow-color: #b88a00;
  --main-green-color: #2e7d32;
  --main-red-color: #b82800;
  --y-background-color: #fff7d1;
  --g-background-color: #d6f7d9;
  --r-background-color: #fbd2c2;
  --muted-foreground: hsl(215, 16%, 47%);
  --main-color-body: #f1f1f1;
  --header-tabel-background: #f0fbff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Breakpoints */
@media (min-width: 768px) { .container { width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 100;
background-color: #333;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}

header .logo { color: wheat;height: 40px; display: flex; align-items: center; font-weight: bold;font-size: x-large; }

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .toggle-menu {
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}

@media (min-width: 768px) {
  header nav .toggle-menu { display: none; }
}

header nav ul { display: flex; list-style: none; }

@media (max-width: 767px) {
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  header nav ul.open { display: flex; }
  header nav ul li a { padding: 15px !important; }
}

header nav ul li a {
  padding: 40px 10px;
  display: block;
  color:  #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
