@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background: #f1f1f1;
} */
 :root {
  --main-color: #3b82f6;
  --s-background-color: rgb(255 255 255 / 50%);
  --main-yellow-color: #b88a00;
  --main-green-color: #2e7d32;
  --main-red-color: #b82800;
  --y-background-color: #fff7d1;
  --g-background-color: #d6f7d9;
  --r-background-color: #fbd2c2;
  --muted-foreground: hsl(215, 16%, 47%);
  --main-color-body: #f1f1f1;
  --header-tabel-background: #c0eafa;
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.6;
  color: #333;
  background: var(--main-color-body);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
